---
const { SITE } = import.meta.env;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/icons/icon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Vicente Javier Viera Guizar" />
		<meta name="keywords" content="coursera, astro, frontend" />
		<meta name="description" content="Coursera frontend experience test" />
		<meta name="theme-color" content="#E3D095" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="canonical" href={SITE} />

		<meta property="og:title" content="Seat Selector Coursera" />
		<meta property="og:description" content="Coursera responsive front-end seat selector real-life project experience." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={SITE} />
		<meta property="og:image" content="/images/icon.webp" />
		<meta property="og:image:alt" content="Application's Logo" />
		<title>Seat Selector Practice</title>
	</head>
	<body>
		<h1>My Epic App</h1>
	</body>
</html>
