---

const siteUrl = "https://tunombre.netlify.app";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Vicente Javier Viera Guizar" />
		<meta name="keywords" content="coursera, astro, frontend" />
		<meta name="description" content="Coursera frontend experience test" />
		<meta name="theme-color" content="#0f172a" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="canonical" href="https://tusitio.com/" />

		<meta property="og:title" content="Seat Selector Coursera" />
		<meta property="og:description" content="Coursera responsive front-end seat selector real-life project experience." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://seat-selector.netlify.app" />
		<meta property="og:image" content="" />
		<title>Seat Selector Practice</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
